grammar Arithmetic
  rule expression
    term (add_op term)*
  end

  rule term
    factor (mul_op factor)*
  end

  rule factor
    number / '(' expression ')'
  end

  rule number
    [0-9]+
  end

  rule add_op
    space? ('+' / '-') space?
  end

  rule mul_op
    space? ('*' / '/') space?
  end

  rule space
    [ \t\r\n]+
  end
end