
<div style='float: right;'>

   <div id='widget_de_2013_14'></div>

   <p></p>

   <p>Any rounds scheduled today?</p>

   <div id='widget_rounds'></div>
</div>

<script>
  require( ['football/widget'], function(Widget) {

    Widget.create( '#widget_de_2013_14', { api: api, event: 'de.2013_14', showRounds: false } );
    Widget.create( '#widget_rounds',     { api: api } );

   });
</script>
