

<h2>Live Usage Sample</h2>

<!-- 
  'en.2012_13',
  'de.2012_13',
  'euro.2012',
  'world.2010',
  'world.conf.2013'
  -->

<div id='widget_en_2012_13'></div>

<p></p>
<p></p>

<div id='widget_world_2010'></div>

<p>
  (Source: <code><a href='https://github.com/geraldb/football.js'>football.js</a></code>)
</p>


<script>
  require( ['football/widget'], function(Widget) {

    Widget.create( '#widget_en_2012_13', { api: api, event: 'en.2012_13' } );
    Widget.create( '#widget_world_2010', { api: api, event: 'world.2010' } );

  });
</script>
