
<h2 id="usage">Usage</h2>

<p>In your hypertext (HTML) document using a plain vanilla cross-domain JavaScript
request (using the JSONP technique):</p>

<pre><code>&lt;script&gt;
  function handleGames( json ) {
     // Do something with the returned data
  }
&lt;/script&gt;

&lt;script src="<%= url( '/' ) %>event/en.2012_13/round/2?callback=handleGames"&gt;&lt;/script&gt;
</code></pre>

<p>Or using the jQuery library using the <a href="http://api.jquery.com/jQuery.getJSON"><code>getJSON</code> function</a>:</p>

<pre><code>$.getJSON('<%= url( '/' ) %>event/en.2012_13/round/2?callback=?', function(json) {
  // Do something with the returned data
});
</code></pre>

<p>Note: Add the <code>callback=?</code> query parameter to tell jQuery to use a cross-domain JSONP request.</p>

<p>That’s it.</p>
