<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'>  
  <title>sport.db.api // sport.db HTTP JSON(P) API // sport.db Web Service</title>
  <link href="<%= url('/style.css') %>" rel='stylesheet'>
</head>
<body>

<%= yield %>

<%= erb :'_version' %>

</body>
</html>